{% extends 'base.html.twig' %}

{% block title %}Orders list{% endblock %}

{% block body %}

    <div class="row my-5">
        <div class="col-md-10 mx-auto">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
       
        <div class="card">
            <div class="card-header d-flex justify-content-between align-iems-center">
                <span>Orders list</span>
                <a href="{{ path('home') }}" class="btn btn-sm btn-primary">back</a>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product name</th>
                            <th>Username</th>
                            <th>Price</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        {% for order in orders %}
                           
                            <tr>
                                <td>{{ order.pname }}</td>
                                <td>{{ order.user.username }}</td>
                                <td>{{ order.price }}</td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ order.status }}
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="{{ path('order_status_update', {order: order.id, status: 'Shipped'}) }}">Shipped</a></li>
                                            <li><a class="dropdown-item" href="{{ path('order_status_update', {order: order.id, status: 'Rejected'}) }}">Rejected</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>

{% endblock %}

