{% extends 'base.html.twig' %}

{% block title %}My orders list{% endblock %}

{% block body %}

    <div class="row my-5">
        <div class="col-md-10 mx-auto">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
         <div class="col-md-10 mx-auto">
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card">
            <div class="card-header d-flex justify-content-between align-iems-center">
                <span>My orders</span>
                <a href="{{ path('home') }}" class="btn btn-sm btn-primary">back</a>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product name</th>
                            <th>Price</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set sum = 0 %}
                        {% for order in user.orders %}
                            {% set sum = sum + order.price %}
                            <tr>
                                <td>{{ order.pname }}</td>
                                <td>{{ order.price }}</td>
                                <td class="text-center">
                                    {% if order.status == 'processing...' %}
                                        <span class="badge bg-dark p-2">
                                            {{ order.status }}
                                        </span>
                                    {% elseif order.status == 'Shipped' %}
                                         <span class="badge bg-success p-2">
                                            {{ order.status }}
                                        </span>
                                    {% else %}
                                         <span class="badge bg-danger p-2">
                                            {{ order.status }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            
                        {% endfor %}
                        <tr class="text-center">
                            <th colspan="2">Total</th>
                            <td class="fw-bold">{{ sum }} MAD</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>

{% endblock %}
